
.clearfix:after {
 content: "";
 display: table;
 clear: both;
}
.q1{
	width: 180px;
	position: absolute;
}
.q2{
	background-color: blue;
	margin-left: 239px;
	width: 1060px;
	background-image:  url("bagraund.jpg");
}
.polosa{
	background-color: #8C0A0D;
	height: 50px;
	padding-left: 30px;

}
#slayd{
	background-image:  url("foto.jpg");
	height: 335px;
	max-width: 1160px;
	margin-left: 40px;
	margin-right: 40px;
	margin-top: 40px;
	border: 4px solid #35040C;
}
.desk{
	margin: 30px 30px 30px 30px;
}
.tabl{
	width: 227px;
	display: inline-block;
	vertical-align: top;
	margin: 0px 10px 10px 10px;
}
.tabl1{
	width: 160px;
	display: inline-block;
	text-align: center;
	margin-top: 15px;
}
#text{
	font-size: 50px;
	color: #35040C;
	text-align: center;
}
.knopka{
	font-size: 15px;
	width: 120px;
	height: 25px;
	background-color: #F6CC79;
	border-radius: 8px;
	border-bottom: 5px solid #BF670D;
	text-align: center;
	padding-top: 10px;
	margin: auto;
}
.sulka{
	text-decoration: none;
	color: #F8BD6F;
}
