.width{
	width: 1000px;
	margin: 0 auto;
}
.header{
	display: flex;
	padding-top: 20px;
	justify-content: space-between;
}
.header a{
	padding-top: 20px;
}
.main{
	display: flex;
	padding-top: 50px;
}
.roshen{
	padding-top: 30px;
	font-weight: bolder;
	font-size: 25px;
	padding-right: 50px;
	text-overflow: ;
}
.div{
	display: flex;
	flex-direction: column;
}
.img{
	width: 100%;
	height: auto;
}
.text{
	font-family: 'Source Sans Pro', sans-serif;
	padding-top: 30px;
}
footer{
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	padding-top: 60px;
}
.sulka{
	text-decoration: none;
	color: black;

}
.sulka:hover{
	color: blue;
}