html{
	font-family: 'Source Sans Pro', sans-serif;
}
#body{
	margin-left: 80px;
	margin-right: 80px;
}
.polosa{
	background-color: #4CB1CA;
	padding: 20px 140px 20px 140px;
	overflow: auto;
}
.border{
	border-left: 1px solid white;
	padding-left: 5px;
}
.polosa a:nth-child(-n+2){
	color: white;
	float: left;
	margin-left: 8px;
	margin-right: 8px;
	text-decoration: none;
	display: inline-block;
}
.polosa a:nth-child(n+3){
	color: white;
	float: right;
	margin-left: 6px;
	text-decoration: none;
}
.polosa1{
	background-color: #FFFFFF;
	padding: 20px 140px 20px 140px;
	overflow: auto;
}
.polosa1 div:nth-child(-n+2){
	float: left;
	display: inline-block;
}
.polosa1 div:nth-child(n+3){
	float: right;
}
.search{
	border: 1px solid #EFF1F0;
	color: #EFF1F0;
	padding: 3px;
	vertical-align: top;
	margin-top: 25px;
	top: 60px;
	right: 370px;
}
#q1{
	display: inline-block;
	color: #5F5F5F;
	font-size: 30px;
	vertical-align: top;
	margin: 20px 20px 20px 0;
}
#q2{
	display: inline-block;
	color: #5F5F5F;
	word-spacing: 20px;
	vertical-align: top;
	margin-top: 30px;
	text-transform: uppercase;
	
}
#q3{
	color: #5F5F5F;
	vertical-align: top;
	margin-top: 30px;
	text-transform: uppercase;
}
#lupa{
	height: 13px;
	float: right;
	margin-left: 90px;
}
#ctick{
	vertical-align: top;
	margin-top: 17px;

}
#ctick1{
	vertical-align: top;
	margin-top: 17px;
}
#foto{
	background-image: url(./img/1.jpg);
	background-size: 1800px;
	height: 400px;
	
}
.r1{
	text-transform: uppercase;
	font-size: 20px;
	background-color: #706961;
	display: inline-block;
}
.position_r1{
	left: 200px;
	top: 180px;
}
.position_r2{
	left: 25px;
	top: 210px;
}
#foto div:nth-child(-n+2){
	float: left;
}
.image{
	margin-top: 160px;
	margin-left: 80px;
}
.image1{
	margin-top: 165px;
	margin-left: 35px;
}

.image2{
	float: right;
	margin-top: 160px;
	margin-right: 65px;d;
}
.x1 div:nth-child(n){
	float: left;
}
.Featured1{
	margin-top: 10px;
	margin-left: 125px;
	text-transform: uppercase;
}
#x2{
	margin-top: 425px;
	text-transform: uppercase;
	font-size: 20px;
	text-align: center;
	width: 220px;
	right: 220px;
	position: absolute;
}
.search2{
	width: 200px;
	height: 25px;
	border: 1px solid #EFF1F0;
}
#x2_2{
	border: 2px solid #EFF1F0;
	box-sizing: border-box;
	padding: 20px;
	margin-top: 25px;
	width: 245px;
}
#knopka1{
	color: white;
	background-color: #7EB123;
	padding: 15px;
	margin: 35px;
	margin-top: 260px;
}
#knopka2{
	color: white;
	background-color: #4CB1CA;
	padding: 10px;
	position: absolute;
	text-transform: none;
	font-size: 16px;
	top: 450px;
	left: 70px;
}
.tovar{
	text-transform: none;
	display: inline-block;
	margin-right: 15px;
	margin-top: 15px;
	border: 2px solid #EFF1F0;

}
.tilo{
	padding-right: 350px;
	color: #5F5F5F;
}
.cena{
	color: #7DB122;
	position: relative;
	bottom: 45px;
}
.im{
	position: relative;
	left: 110px;
	top: -20px;
	width: 65px;
}
.polosa_color{
	background-color: #39A0B9;
}
.polosa_color1{
	background-color: #0B4B5A;
	margin: auto; 0px;	
}
#x2_1{
	border: 2px solid #EFF1F0;
	box-sizing: border-box;
	padding: 10px;
}

